@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Staatliches&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color-white: #FFFFFF;
    --color-black: #4E4958;
}

body{
    background: #BFD7E4;
    font-family: 'Poppins', sans-serif;
}

body::before{
    content: '';
    
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 465px;
    position: absolute;
    background-color: #293241;
}

/*== CLASSES AUXILIARES ==*/

.page{
    width: 100%;
    padding:0 2%;
    margin: 0 auto;
    max-width: 750px;
}

/*== HEADER ==*/

header{
    position: relative;
}

header h1{
    line-height: 45px;
    margin-top: 101px;

    font-size: 2rem;
    font-weight:400;
    font-family: 'Staatliches';
}

header p{
    font-size: 400;
    font-size: 1rem;
    line-height: 26px;
}

header h1,
header p{
    text-align: center;
    color: var(--color-white);
}

header img{
    display: block;
    margin: 32px auto;
}

/*== ESTILIZAÇÃO FORM ==*/

form{
    min-height: 300px; 
    margin-bottom: 120px;
    border-radius: 8px 8px 8px 8px;
    background: var(--color-white);
}

form h2{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 130px;
    background: #F67669;
    border-radius: 8px 8px 0 0;


    font-weight:400;
    font-size: 24px;
    line-height: 34px;
    color: var(--color-white);
    font-family: 'Staatliches';
}

.form{
    padding: 64px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper input,   
.input-wrapper select,
.input-wrapper textarea{
    height: 56px;
    outline:none;
    padding: 0 16px;
    margin-bottom: 18px;
    
    border-radius: 8px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
}

.input-wrapper label,
.checkbox-wrapper label{
    color: var(--color-black);

    font-weight:400;
    font-size: 14px;
    line-height: 24px;
}

.input-wrapper label span{
    color: #C1BCCC;

    font-size: 12px;
    line-height: 22px;
}

.col-two{
    gap: 22px;
    display: flex;
}

.col-two > .input-wrapper{
    width: 100%;
}

fieldset{
    border: none;
    margin-top: 32px;
}

fieldset .input-wrapper{
    padding-top: 32px;
}

fieldset legend{
    color: #253B51;

    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Staatliches';

    width: 100%;
    padding-bottom:8px;
    text-align: center;
    border-bottom: 1px solid #E6E6F0;   
}

fieldset .input-wrapper select{
    width: 50%;

    font-family: 'Poppins';
    color: var(--color-black);
}

.input-wrapper select{
    appearance: none;

    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.input-wrapper textarea{
    padding:12px;
    height:166px;
    resize: none;
}

/*== ESTILIZAÇÃO CHECKBOX ==*/

.checkbox-wrapper{
    position: relative;
}

.checkbox-wrapper label{
    margin: 0;

    gap: 8px;
    display: flex;
    align-items: center;
}

.checkbox-wrapper label::before{
    content: '';
    display: block;

    width: 24px;
    height:24px;
    border-radius: 50%;
    border: 1px solid #E6E6F0;
}

.checkbox-wrapper input{
    opacity: 0;

    top: 0;
    left:0;

    width: 24px;
    height:24px;
    position: absolute;
}

.checkbox-wrapper input:checked + label::before{
    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.col-three{
    gap: 10px;
    display: flex;
}

.col-three > div:nth-child(1){
    width: 100%;
}

.col-three input[type=date],
.col-three input[type=time],
textarea{
    font-family: 'Poppins', sans-serif;
}

footer{
    margin-top: 32px;

    display: flex;
    flex-direction: column;
}

footer input[type=button]{
    height: 56px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    
    font-size: 1.25rem;
    line-height: 26px;
    background: #F67669;
    color: var(--color-white);
    font-family: 'Staatliches';
}

footer input[type=button]:hover{
    background: #CC5C4C;
}

/*== VALIDAÇÃO DE INPUTS ==*/

input:invalid,
select:invalid,
textarea:invalid{
    border: 1px solid #FF0000;
}